Nama : Gisani Miftahul Rahma

Kelas : Ragnarok

Universitas : UPNVYK

## Tugas Kelas Rabu 2 Maret Sesi Sore

Jawaban No 1

In [1]:
def cek(x,y) :
    hasil = x%y
    if hasil==0 :
        return True
    else :
        return False

In [2]:
x = int(input("masukkan nilai x : "))
y = int(input("masukkan nilai y : "))
hasil = cek(x,y)
print(hasil)

masukkan nilai x : 4
masukkan nilai y : 2
True

Jawaban No 2

In [11]:
menu= ['Soup and Salad', 'Pasta with meat sauce', "Chef's special"]
i=0
print("\nMENU")
for x in range(3) :
    print(i+1,".",menu[i])
    i+=1

a=int(input("Which number would you like to order? "))

if a == 1 or a ==2 or a ==3 :
    print("One", menu[a-1], "coming right up")
else :
    print("Sorry, that is not a valid choice.")

MENU
1 . Soup and Salad
2 . Pasta with meat sauce
3 . Chef's special
Which number would you like to order? 4
Sorry, that is not a valid choice.

Jawaban no 3

In [22]:
def pembagianTiga():
    angka = int(input("Masukkan angka yang ingin dibagi 3 : "))
    if angka%3 == 0 :
        return True
    else :
        return False

hasil=pembagianTiga()
print(hasil)

Masukkan angka yang ingin dibagi 3 : 6
True

Jawaban no 4

In [20]:
def cekKesamaan(m,n) :
    if (m == n):
        return False
    else:
        return True
    
m=int(input("masukkan nilai m : "))
n=int(input("masukkan nilai n : "))

cekKesamaan(m,n)

masukkan nilai m : 3
masukkan nilai n : 2

True

Jawaban no 5

kesalahan pada no 5 adalah peletakan print name, dimana name merupakan variabel lokal yang hanya bisa diketahui oleh fungsi ask_name, sehingga jika pemanggilan name dilakukan diluar fungsi maka name tidak akan terdeteksi, cara menyelesasikannya ada berbagai macam diantaranya :
1. mereturnkan nilai name dari fungsi ask_name dan menyimpannya dalam variabel global
2. memindahkan print ke dalam fungsi ask_name
berikut adalah contoh penyelesaiannya :

In [15]:
def ask_name():
    name=input("Enter your name :")
    return name
    
name=ask_name()
print("Your name is", name)

Enter your name :gisa
Your name is gisa